<tr class="form-field">
    <th scope="row"></th>
    <td>
        <div class="bg-white rounded mr-6">
            <h4 class="border-bottom m-0 px-3 py-2">%s</h4>
            <div class="px-3 pb-3 pt-0">%s</div>
        </div>
    </td>
</tr>

